
.payment_container {
  display: flex;
  flex-direction: column;
  width: 350px;
  border: 2px solid white;
  border-radius: 10px;
  background: linear-gradient(to top,rgb(19, 119, 250),rgb(253, 241, 241));
}
.img{
  width: 50px;
  height: 50px;
}


#total {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.payment_products {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  background-color: white;
  margin: 10px;
  height: 50px;
  border-radius: 10px;
}
.product {
  font-size: 20px;
  padding: 10px;
}
