.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 700px;
}
.payment_tag {
  text-align: center;
  margin: 0px;
}

.select {
  outline: none;

  width: 65px;
  height: 25px;
  border-radius: 10px;
  border: none;
  margin: 0px 15px 0px 15px
}
.option{
  text-align: center;
}

.purchase_page{
  transition: 500ms;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.purchase_container{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
height: 350px;
width: 600px;
}
.purchase_container_inactive{
  display: none;
  transition: 500ms;
  height: 100%;
  width: 50%;
}

.purchase_page_inactive{
  width: 0px;
  height: 0px;
  transition: 500ms;
}
.purchase_tag{
font-size: 20px;
font-weight: bolder;
}
