.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 700px;
}
.payment_tag {
  text-align: center;
  margin: 0px;
}

.select {
  outline: none;

  width: 65px;
  height: 25px;
  border-radius: 10px;
  border: none;
  margin: 0px 15px 0px 15px
}
.option{
  text-align: center;
}

.purchase_page{
  background-color: rgba(0, 0, 0, 0.872);
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.purchase_container{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
height: 350px;
width: 600px;
}
