.text {
  text-align: center;
  margin: 0px;
}
.homepage_text {
  color: white;
  border-radius: 10px;
  padding-left: 40px;
}
@media screen and (max-width: 768px) {
  .homepage_text {
    text-align: center;
    padding: 0px;
  }
}
