.text {
  color: rgba(31, 31, 31, 0.874);
  text-align: center;
  background-color: rgba(252, 252, 252, 0.896);
  border-radius: 10px;
}
.homepage_text {
  color: white;
  border-radius: 10px;
  padding-left: 40px;
}
@media screen and (max-width: 768px) {
  .homepage_text {
    text-align: center;
    padding: 0px;
  }
}
