.container_active {
  border-radius: 10px;
  display: flex;
  height: 85%;
  position: fixed;
  background-color: white;
  width: 200px;
  transition: 600ms;
  list-style: none;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.container_inactive {
  width: 0px;
  transition: 600ms;
}

.li_category {
  color: black;
  font-size: 22px;
  text-decoration: underline;
  margin: 2px;
}

@media screen and (max-width: 768px) {
  .container_active {
    height: 100%;
    position: fixed;
    top: 0px;
    width: 100%;
    border-radius: 0px;
  }
}
