body {
  background: linear-gradient(to top,rgb(250, 252, 255),rgb(47, 175, 255));
}

.div_container {
  width: 100%;
  min-height: 67vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 768px) {


}
