body {
  background-image: url("/public/pictures/background.webp");
  background-position: center;
}

.div_container {
  min-height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  body {
    background-size: contain;
  }

  .div_container {
    display: flex;

    align-items: center;
    padding: 0px;
  }
}
