body {
  background-image: url("/public/pictures/background_mobile.jpg");
  background-repeat: repeat;
}

.div_container {
  min-height: 65vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  padding-left: 50px;
}

@media screen and (max-width: 768px) {
  body {
    background-image: url("/public/pictures/background_mobile.jpg");
    background-repeat: repeat;
    background-size: contain;
  }

  .div_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
  }
}
