
.sign_in_container {
  width: 350px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(to top,rgb(214, 245, 255),rgb(63, 185, 255));
  border-radius: 10px;
}
.register{
  text-align: center;
}


