.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}
.sign_in_container {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(244, 244, 244, 0.702);
  border-radius: 10px;
}
.inp {
  border: none;
  border-radius: 10px;
  height: 30px;
  text-align: center;
  outline-color: green;
}

#tag{
  text-align: center;
  color: white;
}
#errorDetails{
  color: red;
  text-align: center;
  text-decoration: underline;
}