.products_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.users_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}

.table_products_container {
  font-size: 20px;
  width: 80%;
}
.table_users_container {
  font-size: 25px;
  width: 50%;
}

.menu_container {
  background-color: white;
  transition: 1s;
}
.menu_container_inactive {
  width: 0px;
  height: 0px;
  transition: 1s;
}
.menu {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  text-decoration: underline;
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  .table_products_container {
    font-size: 16px;
    width: 100%;
  }
}
