.products_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.users_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}
.thead {
  background-color: white;
  border: 1px solid black;
}

.table_products_container {
  font-size: 20px;
  width: 80%;
}
.table_users_container {
  font-size: 25px;
  width: 50%;
}


.menu_container {
  background-color: white;
  transition: 1s;
}
.menu_container_inactive {
  width: 0px;
  height: 0px;
  transition: 1s;
}
.li_menu {
  text-align: center;
  margin-top: 10px;
  font-size: 22px;
  text-decoration: underline;
  list-style-type: none;
}
.li_menu:hover{
transition: 500ms;
color: rgb(43, 186, 234);
}


@media screen and (max-width: 768px) {
  .table_products_container {
    font-size: 16px;
  }

}
