.products_container {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
}

.menu_container {
  display: flex;
  justify-content: center;
  background-color: white;
}

@media screen and (max-width: 768px) {
  #category_hamburger {
    position: sticky;
    top: 20px;
  }
  .test {
    display: flex;
    justify-content: space-between;
  }
}
