.products_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.shopping_cart{
  font-size: 35px;
  margin-bottom: 5px;
  color: white;
}
.shopping_cart_container{
  position: sticky;
  text-align: center;
  bottom: 0px;
  width: 100%;
  background-color: rgb(3, 171, 255);
}


@media screen and (max-width: 768px) {
  #category_hamburger {
    position: sticky;
    top: 20px;
  }

}
