.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.productsPage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  padding-left: 20%;
}
@media screen and (max-width: 768px) {
  .container {
    min-height: 94.5vh;
    padding: 0px;
    width: 100%;
  }
  .productsPage {
    width: 100%;
    padding: 0px;
  }
}
