.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 76.3vh;
  /* padding-left: 20%;     */
  /* width: 60%; */
}

.productsPage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  padding-left: 20%;
}
@media screen and (max-width: 768px) {
  .container {
    
    min-height: 90vh;
    padding: 0px;
    width: 100%;
  }
  .productsPage{
    width: 100%;
    padding: 0px;
  }
}
