.button_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#button{
    width: 100px;
    height:30px ;
    margin-top: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
}
