.container{
    height: 40px;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    width: 100px;
    background-color: white;
}
.option_container{
    font-size: 18px;
    color: rgba(5, 151, 219, 0.816);
}

