.container{
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: rgb(240, 240, 240);
    text-align: center;
    margin-top: 10px;
    width: 100px;
}
.option_container{
    font-size: 16px;
}

