.form_container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 72vh;
}
.sign_up_container {
  display: flex;
  width: 320px;
  height: 550px;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 10px;
}

.error {
  text-align: center;
}
