.container {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, rgb(51, 127, 174), rgba(2, 144, 252, 0.578));
}
.footer_container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 150px;
}
.container_text{
  color: white;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: linear-gradient(to right, rgb(51, 127, 174), rgba(2, 144, 252, 0.578));
  color: white;
}

.footer_tag {
  color: white;
  font-weight: bolder;
}
@media screen and (max-width: 768px) {

  .footer_container{
    display: flex;
    height: max-content;
    text-align: center;
    flex-direction: column;
  }
}
