.container {
  display: flex;
}
#footer_container {
  border-radius: 5px;
  padding-left: 10px;
  background-color: rgba(0, 140, 255, 0.651);
  width: 100%;
  margin-top: 1px;
  height: 170px;
}

@media screen and (max-width: 768px) {
  #footer_container {
    border-radius: 10px;
    background-color: rgba(0, 140, 255, 0.651);
    color: rgb(231, 231, 231);
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 97.5%;
  }
}
