
.tr_container {
  background-color: white;
  text-align: center;
  border-radius: 10px;
}

.img {
  width: 75px;
  height: 75px;
}

.td {
  border-radius: 10px;
  border: 1px solid black;
}
.button_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 10vh;
  border: 1px solid black;
}
@media screen and (max-width: 768px) {
  .p {
    width: 30px;
  }
  .button_container{
    width: 160px;
    flex-direction: column;
  }

}
