.tr_container {
  background-color: white;
  text-align: center;
  border-radius: 10px;
}

.img {
  width: 70px;
  height: 70px;
}
.td{
  border-radius: 10px;
  border: 1px solid black;
}
.button_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 10vh;
  border: 1px solid black;
}
