.tr_container {
  border: 3px solid black;
  background-color: white;
  text-align: center;
}

.img {
  width: 70px;
  height: 70px;
}

.button_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 10vh;
}
