.div_container {
  justify-content: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: black;
  align-items: center;
  height: 40px;
}
li {
  font-size: 18px;
  color: white;
}
