.menu_container {
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.header_container {
  width: 20%;
  list-style: none;
}
@media screen and (max-width :768px) {

  .menu_container{
    position: sticky;
    top: 0px;
  }
}
