#category_hamburger {
  height: 40px;
  width: 40px;
}
.hamburger {
  margin: 3px;
  height: 10px;

  border-radius: 10px;
  background-color: white;
}
@media screen and (max-width: 768px) {
  #category_hamburger {
    position: sticky;
    top: 10px;
  }
}
