.container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 60vh;
}
.add_product_container {
  width: 300px;
  height: 350px;
  justify-content: space-around;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.inp {
  outline-color: green;
  margin: 3px;
  height: 35px;

  text-align: center;
  border-radius: 10px;
  border: rgb(113, 113, 113) 0.5px solid;
}
#add_product_tag {
  text-align: center;
  color: white;
}
#add_btn {
  background-color: white;
  height: 30px;
  width: 120px;
  border-radius: 10px;
  border: 1px solid rgb(216, 216, 216);
  font-weight: bold;
}

.inpFile{
  font-size: 16px;
  text-decoration: underline;
}