.container {
  border-radius: 10px;
  border: none;
  text-align: center;
  width: 100px;
  text-align: center;
  height: 30px;
  font-size: 15px;
  background-color: rgb(241, 241, 241);
}
.option_container{
    font-size: 18px;
}
